body{
    font-family: Arial;
    margin: 0;
    background-image: url("hot-sun-rays.jpg");
    background-repeat: no-repeat;
    background-position: absolute; 

}
header{
    padding: 60px;
    text-align: center;
    /* background: #eeae24; */
    /* color: white; */
    color:black;
    font-size: 30px;
}

hr{
    background: black;
    height: 5px;
    width: 100%;
}
.content{
    padding: 20px;
    background-image: url("tan-legs.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    /* background: white; */
}
li {
    list-style: none;
    /* text-align: center; */
    width: auto;
}
footer{
    padding: 10px;
    text-align: center;
    /* background: #eeae24; */
    }