html{
    background-color: aliceblue;
}

.image{
    background-image: url(scuba-diver.jpg);
    background-color: azure;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.image-text{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

form {
    font: 1em sans-serif;
    max-width: 320px;
  }
  
  p > label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px rgb(19, 108, 211);
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

  textarea{
      background-color: rgb(140, 179, 240);
  }

  /* This is our style for the invalid fields */
input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }